<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DispatcherController</servlet-name>
        <servlet-class>locnt.controller.DispatcherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>locnt.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>locnt.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>locnt.controller.SearchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBookServlet</servlet-name>
        <servlet-class>locnt.controller.ManageBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>locnt.controller.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>locnt.controller.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookServlet</servlet-name>
        <servlet-class>locnt.controller.CreateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscountServlet</servlet-name>
        <servlet-class>locnt.controller.CreateDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryShoppingServlet</servlet-name>
        <servlet-class>locnt.controller.HistoryShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>locnt.controller.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>locnt.controller.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCodeServlet</servlet-name>
        <servlet-class>locnt.controller.CheckCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>locnt.controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>locnt.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>locnt.controller.EditBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHistoryBookingServlet</servlet-name>
        <servlet-class>locnt.controller.ShowHistoryBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <servlet-class>locnt.payment.AuthorizePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-class>locnt.payment.ReviewPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-class>locnt.payment.ExecutePaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherController</servlet-name>
        <url-pattern>/DispatcherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBookServlet</servlet-name>
        <url-pattern>/ManageBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookServlet</servlet-name>
        <url-pattern>/CreateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscountServlet</servlet-name>
        <url-pattern>/CreateDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryShoppingServlet</servlet-name>
        <url-pattern>/HistoryShoppingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/AddItemToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCodeServlet</servlet-name>
        <url-pattern>/CheckCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/EditBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHistoryBookingServlet</servlet-name>
        <url-pattern>/ShowHistoryBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <url-pattern>/AuthorizePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <url-pattern>/ReviewPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <url-pattern>/ExecutePaymentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatcherController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>BookingStoreDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
